.main_div {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

#map {
  flex-grow: 1;
  height: calc(100vh - 30vh);
  width: 100%;
}

fieldset {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
