<fieldset>
  <legend>Filter</legend>
  <label>
    <input type="checkbox" (change)="applyFilter('Organic')"> Organic
  </label>
  <label>
    <input type="checkbox" (change)="applyFilter('Climate')"> Climate
  </label>
  <label>
    <input type="checkbox" (change)="applyFilter('Water')"> Water
  </label>
  <label>
    <input type="checkbox" (change)="applyFilter('Social')"> Social
  </label>
  <label>
    <input type="checkbox" (change)="applyFilter('Governance')"> Governance
  </label>
  <label>
    <input type="checkbox" (change)="applyFilter('Waste')"> Waste
  </label>
  <label>
    <input type="checkbox" (change)="applyFilter('Adverse')"> Adverse
  </label>
</fieldset>
<div id="map" style="height: 400px;"></div>
